@font-face {
	font-family: EzraSILW;
	src: url(SILEOT.woff);
	unicode-range: U+0590-05FF;
}
@font-face {
	font-family: GentiumPlusW;
	font-style: italic;
	src: url(GentiumPlus-I.woff);
	unicode-range: U+0370-03FF, U+1F00-1FFF;
}
body {
	font-family: EzraSILW, GentiumPlusW, Arial;
}

p {
	font-family: EzraSILW, GentiumPlusW, Arial;
}
